<!-- Modal -->
<div class="modal fade" id="sharesModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Нанесение логотипа</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p> Нанесение логотипа на купленную у нас спецодежду бесплатно (1 цвет, 1 сторона, формат до А4, аппликация пленкой) 
            </p>
      </div>

    </div>
  </div>
</div>