<!-- Modal -->
<div class="modal fade" id="sharesModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Акции</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          При покупке спецодежды на сумму от 20 тысяч рублей Вы получаете возможность бесплатно провести обучение сотрудников по программе
          «Охрана труда для руководителей и специалистов» в «Учебном центре охраны труда» г. Петрозаводск. Обучение одного
          специалиста за каждые 20 тысяч рублей оплаченные за спецодежду. Например, если покупка составит более 60 тысяч
          рублей мы бесплатно обучим 3-х сотрудников. Акция действует в течение 3-х месяцев с момента покупки спецодежды.
        </p>
        <p>
          При покупке курток (или костюмов) мы бесплатно нанесем логотип пленкой в один цвет, на одной стороне, форматом не более А4
          на каждую куртку.
        </p>
        <p>
          Доставка в черте Петрозаводска осуществляется бесплатно при заказе от 1000 ₽.
        </p>
      </div>

    </div>
  </div>
</div>