<!-- Modal -->
<div class="modal fade" id="sharesModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Доставка бесплатно</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
            Доставка в черте Петрозаводска бесплатно при заказе от 1000&nbsp;₽.
        </p>
      </div>

    </div>
  </div>
</div>