<!-- Modal -->
<div class="modal fade" id="pricesModal" class="pricesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Прайс-лист</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="prices/jurnals.docx">Журналы и удостоверения</a>
        <br>
        <a href="prices/footwear.pdf">Рабочая обувь</a>
        <br>
        <a href="prices/signs.doc">Знаки в лес</a>
        <br>
        <a href="prices/winter-clothes.pdf">Зимняя одежда</a>
        <br>
        <a href="prices/summer-clothes.pdf">Летняя одежда</a>
      </div>

    </div>
  </div>
</div>