<footer class="text-white d-flex align-items-center mt-100 py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 text-lg-left text-center pb-4 pb-lg-0">
                <img class="bottom-logo" src="../../img/bottom-logo.svg" alt="Спецсфера">
            </div>
            <div class="col-lg-7 text-center pb-4 pb-lg-0">
                <ul>
                    <li>
                        <a href="#header" class="link">главная</a>
                    </li>
                    <li>
                        <a href="#active-shares" class="link">акции</a>
                    </li>
                    <li>
                        <a href="#contacts" class="link">контакты</a>
                    </li>
                    <li>
                        <span data-toggle="modal" data-target="#pricesModal" class="link">прайс-лист</span>
                    </li>
                </ul>

            </div>
            <div class="col-lg-2 text-lg-right text-center">
                <!--LiveInternet counter-->
                <script type="text/javascript">
                    document.write("<a href='//www.liveinternet.ru/click' " +
                        "target=_blank><img src='//counter.yadro.ru/hit?t25.6;r" +
                        escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
                            ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                                screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                        ";h" + escape(document.title.substring(0, 150)) + ";" + Math.random() +
                        "' alt='' title='LiveInternet: показано число посетителей за" +
                        " сегодня' " +
                        "border='0' width='88' height='15'><\/a>")
                </script>
                <!--/LiveInternet-->
            </div>
        </div>
    </div>
</footer>