<nav id="my-menu">
  <ul>
    <li>
      <a  href="#header" class="link">
        главная
      </a>
    </li>
    <li>
      <a href="#active-shares" class="link">
        акции
      </a>
    </li>
    <li>
      <a href="#contacts" class="link">
        контакты
      </a>
    </li>
    <li>
      <span class="link link-hover-black" data-toggle="modal" data-target="#pricesModal">
        прайс-лист
      </span>
    </li>
  </ul>
</nav>
<div class="container">

  <div id="main-navbar" class="main-navbar d-flex justify-content-between align-items-center">
    <a href="#my-menu" class="hamburger-container">
      <span class="menu-hamburger"></span>
    </a>
    <ul class="top-menu d-none d-xl-block">
      <li><a href="#header" class="link">главная</a></li>
      <li><a href="#active-shares" class="link">акции</a></li>
      <li><a href="#contacts" class="link">контакты</a> </li>
      <li><span class="link" data-toggle="modal" data-target="#pricesModal">прайс-лист</span></li>
    </ul>
    <img class="top-logo" src="../../img/top-logo.svg" alt="Сфера Безопастности">
  </div>

</div>